:root {
    --kb-primary: #2d248a;
    --kb-primary--light: #614ad3;
    --kb-primary--dark: #121b74;
    --kb-accent: #e42c64;
    --kb-light: #ffffff;
    --kb-gray--light: #efefef;
    --kb-gray: #ccc;
    --kb-dark: #201e29;

    --kb-sp--sm: 8px;
    --kb-sp--md: 16px;
}

html, body {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    height: 100%;
    width: 100vw;

    overflow-x: hidden;

    font-family: Helvetica;
}

div, a, p, h1, h2, h3, h4, h5 {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

input, button {
    border: 1px solid var(--kb-gray);
    border-radius: 3px;
}

button {
    cursor: pointer;
}

h3 {
    margin: 8px 0;
}

.kb-navbar {
    display: flex;
    align-items: center;

    padding: var(--kb-sp--md);

    height: 24px;

    background: var(--kb-primary);
}

.kb-app-title {
    color: var(--kb-light);
}

.kb-container {
    display: flex;
    flex-direction: row;
    flex: 1;

    margin: 0 -8px;
    padding: 16px;

    background: var(--kb-gray);
}

.kb-card {
    height: max-content;
        height: -moz-max-content; 
    width: 280px;

    margin: 0 8px;

    background: var(--kb-light);
    border-radius: 4px;
    /* box-shadow: 3px 3px 10px -7px var(--kb-primary--dark); */
}
.kb-card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 16px;

    border-bottom: 1px solid var(--kb-primary);
    
    color: var(--kb-primary);
}
.kb-header-tool {
    display: flex;

    margin: 0 -4px;
}
.kb-toolbox {
    position: relative;
}
.kb-tool__dropdown {
    position: absolute;
    right: 0;

    padding: 8px 16px;

    background: var(--kb-light);
    border-radius: 4px;
    box-shadow: 3px 0 10px -7px var(--kb-primary--dark);

    font-size: 14px;
}
.kb-tool__dropdown .kb-tool:not(:first-child) {
    margin-top: 8px;
}
.kb-tool {
    flex: 1;

    padding: 0 4px;

    cursor: pointer;
}
.kb-card-title {
    margin: 16px 0;

    font-weight: bold;
}
.kb-card-title span {
    font-size: 12px;
    color: var(--kb-accent);

    cursor: pointer;
}
.kb-card__list-group {
    margin: 0;
    padding: 8px 0;
}
.kb-card__list-item {
    list-style: none;

    padding: 8px 16px;

    line-height: 18px;
    font-size: 14px;
    color: var(--kb-dark);
}
.kb-card__list-item:hover {
    background: var(--kb-primary--light);

    color: var(--kb-light);

    cursor: pointer;
}
.kb-card__footer {
    display: flex;

    padding: 8px 16px;

    background: var(--kb-light);
    border-top: 1px solid var(--kb-primary);
    border-radius: 0 0 4px 4px;
}
.kb-card__footer button {
    opacity: .5;
}

.kb-input--text {
    flex: 1;
    height: 30px;

    padding: 0 8px;

    line-height: 18px;
    font-size: 14px;
}

.kb-button--accent,
.kb-button--accent:hover {
    flex: 1;
    height: 30px;

    padding: 0 8px;

    background: var(--kb-accent);
    border: 1px solid var(--kb-accent);

    line-height: 18px;
    font-size: 14px;
    color: var(--kb-light);
}
.kb-button--accent:hover {
    opacity: 1;
}

.kb-rm-hor--8 {
    margin: 0 -8px;
}